{% extends "template.html.twig" %}

{% block title %}{{ parent() }} | Insertion d'un nouvel article{% endblock %}

{% block menuhaut %}
    {% include "hautEtMenu.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Insertion d'une nouvelle inscription</h1>
                <p class="lead">Veuillez remplir tous les champs</p>
        </div>
            <div class="col-lg-10 text-left">
                
                       
                <form action="./?viewlinscription" method="post">
                       <label for="debut">Début de session&nbsp</label>
                            <input id="debut" name="debut" type="date" max="2100-12-12" required><br><br>
					    <label for="fin">Fin de session&nbsp</label>
                            <input id="fin" name="fin" type="date" max="2100-12-12" required><br><br>

                        <label for="lutilisateur_idlutilisateur">Entrez un utilisateur&nbsp</label>
                        
					<select id="lutilisateur" name="lutilisateur_idlutilisateur" required>
					{% for user in modifutilisateur %}
						<option value="{{ user.idlutilisateur }}">{{ user.lenom }}</option>
					{% endfor %}
					</select><br><br>

                      <label for="lasession_idlasession">Choisissez une session&nbsp</label>
					<select id="lasession" name="lasession_idlasession" required>
					{% for lasession in modifutilisateur %}
						<option value="{{ lasession.idlasession }}">{{ lasession.lenom }}</option>
					{% endfor %}
					</select><br><br>


                    <input onclick="if( $('#debut').val() > $('#fin').val() ) {alert('woops'); }" type="submit" value="Inscription">

                </form>
            </div>
        </div>
        
    </main>

{% endblock %}

{% block bas %}
    {% include "footer.html.twig" %}
{% endblock %}