{% extends "template.html.twig" %}

{% block title %}{{ parent() }} | Insertion d'un nouvel article{% endblock %}

{% block menuhaut %}
    {% include "hautEtMenu.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Insertion d'une nouvelle inscription</h1>
                <p class="lead">Veuillez remplir tous les champs</p>
            </div>
            <div class="col-lg-10 text-left">

                <form action="./?viewlinscription" method="post">
                   <label for="letype">Faites votre choix&nbsp</label>
					<select id="letype" name="letype" required>
						<option value="1" {{ detailinscription.letype == 1 ? "selected" }}></option>
						<option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}></option>
					</select><br><br>

                    <label for="letype">Choisissez une session&nbsp</label>
					<select id="letype" name="letype" required>
						<option value="1" {{ detailinscription.letype == 1 ? "selected" }}>Technicien(ne support pc et réseaux)</option>
						<option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}>Développeur web</option>
                        <option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}>Infographiste PAO</option>
                        <option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}>Animateur Multimédia</option>
                        <option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}>Aide comptable</option>
                        <option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}>Atouts jeunes</option>
                        <option value="2" {{ detailinscriptiop.letype == 2 ? "selected" }}>Orientation métiers T.I.C.</option>
					</select><br><br>
                    
                    
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </form>

            </div>
        </div>
        
    </main>

{% endblock %}

{% block bas %}
    {% include "footer.html.twig" %}
{% endblock %}