{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Accueil rôle{% endblock %}

{% block menuhaut %}

{% endblock %}

{% block centre %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Gestion des rôles</p>
            </div>

            <div class="col-lg-12 text-center">
            <h4><a href="?insertLeRole">Ajouter un rôle</a></h4> 
            </div>
            <br>
            <div class="col-lg-12 text-left">
            <div class="pagination">
			{{ pagination|raw }}

            </div>
                {# Faites apparaître les sections (celles du menu) cliquables dans un nouveau h4, sinon écrivez "Pas encore d'éléments dans le menu" #}
                {% for item in detailrole %}
                <div class="section col-lg-12">
                    <h4 class="mt-3">{{ item.lintitule }}
                        <div class="content-menu">
                            <a href="?updateLeRole={{ item.idlerole }}" class="modified">modifier</a>
                            <a class="delete" href="?deleteLeRole={{ item.idlerole }}">supprimer</a>
                        </div>
                    </h4>
                    <p>{{ item.ladescription }}</p>
                </div>
                    {% for detailrole in lintitule %}
                        {# si vide #}
                        {% if detailrole is empty %}
                            <p>Pas de rôle</p>
                        {% else %}
                        {# on utilise loop.index0 pour prendre le prénom associé au nom sur lequel on fait la boucle #}
                        <p>{{ detailrole }} {{ lintitule[loop.index0] }}</p>
                        {%  endif %}
                    {% endfor %}
                    <br>
                 <?php

                 ?>
                {% else %}
                <h4 class="mt-3">Pas encore de rôles</h4>
                {% endfor %}



            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}
