o{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Admin | Modifier le rôle{% endblock %}

{% block menuhaut %}

{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Admin | Modifier le rôle</p>
            </div>
            <div class="col-lg-6 text-left">
                {# Affichage du formulaire #}
                
                    <form action="" method="post" name="updateLeRole">
                    <input name="lintitule" type="text" placeholder="Titre du role" value="{{ section.lintitule }}" required><br>
                    <textarea name="ladescription" placeholder="acronyme" required>{{ section.ladescription }}</textarea><br>
                    <input type="hidden" name="idlerole" value="{{ section.idlerole }}">
                    <input type="submit" value="Envoyer">
                </form>
                
                <h3>{{ error }}</h3>
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}