{% extends "roles/pedagogique/template.pedagogique.html.twig" %}


{% block centre %}
 <!-- content admin -->
{% if entree %}
    <div id="fade" class="alert-connected">
        <span class="closebtn" onclick="this.partelement.style.display="none";">&times;</span>
        Bienvenue:<b>{{ " " }}{{ session.leprenom }}{{ " " }}{{ session.lenom }}</b> Vous êtes connecté en tant que <b>" {{ " " }}{{ session.lintitule }} "</b>
    </div>
    {% endif %}
    <div id="content-admin" class="col-lg-10">
        <!-- content titre page -->
        <div class="row page-title">
                <div class="circle">
                    <img class="col-lg-12" src="img/home.png"/>
                </div>
            <!-- titre de la page -->
            <div class="col-lg-11">
                <h1 class="col-lg-11">Accueil</h1>
            </div><!-- fin titre de la page -->
        </div><!-- end titre page -->
        <!-- menu générale admin -->
        <div id="menu-admin" class="row justify-content-center">
            <ul class="col-lg-3">
                <a href="?viewdetailsession">
                    <li class="col-lg-12">
                        <img src="img/user.png" alt="gestion des web" class="">
                        Nouvelle évaluation
                    </li>
                </a>
                <a href="?viewprofil" alt="Gestions des profils">
                    <li class="col-lg-12">
                        <img src="img/groupe.png" alt="gestion des profils" class="">
                        les profils
                    </li>
                </a>
                <a href="?viewlutilisateur">
                    <li class="col-lg-12">
                        <img src="img/user.png" alt="Gestions des utilisateurs" class="">
                        Gestions des utilisateurs
                        </li>
                </a>
                <a href="?viewleconge">
                    <li class="col-lg-12">
                        <img src="img/groupe.png" alt="Gestions des congés" class="">
                        Gestions des congés
                        </li>
                </a>
                <a href="?viewlafiliere">
                    <li class="col-lg-12">
                        <img src="img/droit.png" alt="Gestions des filières" class="">
                        Gestions des filières
                        </li>
                </a>
				<a href="./?viewlerole">
                    <li class="col-lg-12">
                        <img src="img/droit.png" alt="Gestions des rôles" class="">
                        Gestions des rôles
                        </li>
                </a>
                <a href="?viewlasession">
                    <li class="col-lg-12">
                        <img src="img/groupe.png" alt="Gestions des sessions" class="">
                        Gestions des sessions
                        </li>
                </a>
				<a href="?viewlinscription">
                    <li class="col-lg-12">
                        <img src="img/groupe.png" alt="Gestions des inscriptions" class="">
                        Gestions des inscriptions
                        </li>
                </a>              

            </ul>
        </div><!-- end menu générale admin -->

    </div>
 <!-- end content-admin-->
{% endblock %}
{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}