{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Admin | Ajouter une session{% endblock %}

{% block menuhaut %}

{% endblock %}

{% block centre %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Admin | Ajouter une session</p>
            </div>
            <div class="col-lg-6 text-left">
                {# Affichage du formulaire #}
                <form action="./?viewlasession" method="post">
                    <label for="lenom">Titre de la session&nbsp</label><input id="lenom" name="lenom" size="24" placeholder="Titre de session" maxlength="45" required><br><br>
                    <label for="lacronyme">Acronyme de la session&nbsp</label><input id="lacronyme" name="lacronyme" size="15" placeholder="Acronyme de session " maxlength="10" required><br><br>
					<label for="lannee">Année de session&nbsp</label><input id="lannee" name="lannee" type="number" min='2019' max='2100' value='2019' required><br><br>
					<label for="lenumero">Numéro de session pour l'année actuelle&nbsp</label><input id="lenumero" name="lenumero" type="number"  value="1" min="0" max="9" required><br><br>					
					<label for="letype">Type de session&nbsp</label>
					<select id="letype" name="letype" required>
						<option value="1">Pré-formation</option>
						<option value="2">Formation</option>
					</select><br><br>
					<label for="debut">Début de session&nbsp</label><input id="debut" name="debut" type="date" max="2100-12-12" required>&nbsp<span id="debutError" style="color: red; visibility: hidden;">La date de début est postérieure à la date de fin !</span><br><br>
					<label for="fin">Fin de session&nbsp</label><input id="fin" name="fin" type="date" max="2100-12-12" required><br><br>
					<label for="lafiliere_idfiliere">Filière de session&nbsp</label>
					<select id="lafiliere_idfiliere" name="lafiliere_idfiliere" required>
					{% for filiere in filieres %}
						<option value="{{ filiere.idlafiliere }}">{{ filiere.lenom }}</option>
					{% endfor %}
					</select><br><br>
					<input onclick="if( $('#debut').val() > $('#fin').val() ) {$('#debutError').css('visibility', 'visible'); $('#debut').css('box-shadow', '0 0 3px 1px red'); event.preventDefault();}" type="submit" value="Envoyer">
                </form>				
                <h3>{{ error }}</h3>
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}