{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}
    {{ parent() }}
    | Accueil stagiare Web
{% endblock %}

{% block menuhaut %}
    {% include "hautEtmenu.html.twig" %}
{% endblock %}

{% block centre %}
    <!-- Page Content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">PROFIL </h1>
                <p class="lead">Info stagiaire</p>
                

                <p><a href="?modifInfo={{idlutilisateur.idlutilisateur}}">modifier des infos sur le stagiaire</a></p>


            </div>
            <div<div class="col-lg-12 text-center">
        
    
    <br>
    <div
        class="col-lg-6 text-left">


        

        

            <p class="mt-3" style="color:green;">nom:</p> <h4>{{ idlutilisateur.nomFamille }}</h4> <p style="color:green;">prenom:</p> <h4>{{ item.leprenom }}</h4>
            <p class="mt-3" style="color:green;">Filiere:</p> <h4>{{ idlutilisateur.filiereName }}</h4>
            <p class="mt-3" style="color:green;">Rôle:</p> <h4>{{ idlutilisateur.sessionName}}</h4>
            <p class="mt-3" style="color:green;">Son rôle:</p> <h4>{{ idlutilisateur.lintitule }}</h4>

            <p class="mt-3" style="color:green;">User Name:</p> <h4>{{ idlutilisateur.lenomutilisateur }}</h4>
            <p class="mt-3" style="color:green;">Son mail:</p> <h4>{{ idlutilisateur.lemail }}</h4>
             <p class="mt-3" style="color:green;">l'inscription:</p> <h4>{{ idlutilisateur.debut }} // {{ idlutilisateur.fin }}</h4>
            
        

    </div>
    </div>
</div></main>{% endblock %}{% block bas %}{% include "footer.html.twig" %}{% endblock %}

